@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");

body {
  background-image: url(/assets/img/3943687.jpg);
  background-size: 33%;
}

#entrada {
  margin: 25% 25%;
  text-align: center;
  align-items: center;
  padding: 0.5em;
  background-color: rgba(220, 220, 220, 0.5);
  font-family: "Bree Serif", serif;
  font-size: 1.2em;
  border-radius: 25px;
}

h1 {
  color: rgb(220, 187, 139);
  text-shadow: 2px 2px rgb(54, 52, 52);
}

button {
  padding: 8px 28px;
  border-radius: 25px;
  background-color: brown;
  color: antiquewhite;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

input {
  border-color: rgb(220, 187, 139);
  padding: 8px 28px;
  border-radius: 25px;
  margin: 0.67em;
}
